@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --primary-color: #111827;
  --secondary-color: #1f2937;
  --tertiary-color: #374151;
  --tertiary-color-hover: #94a3b8;
  --button-color: #3b82f6;
  --text-color: #f9fafb;
  --hover-box-color: #475569;
  --hover-text-color: #ffffff0c;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* new chatbox */
.messages-box {
  height: calc(100vh - 5rem);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* old chatbox */
.message-box {
  scroll-behavior: smooth;
}

.message-box::-webkit-scrollbar {
  display: none;
}